[submodule "thirdparty/qllm-eval"]
	path = thirdparty/qllm-eval
	url = https://github.com/thu-nics/qllm-eval.git
[submodule "thirdparty/opencompass"]
	path = thirdparty/opencompass
	url = https://github.com/open-compass/opencompass.git
[submodule "thirdparty/toolbench"]
	path = thirdparty/toolbench
	url = https://github.com/open-compass/T-Eval.git
[submodule "thirdparty/llmc"]
	path = thirdparty/llmc
	url = https://github.com/ModelTC/llmc.git
