[submodule "thirdparty/LongBenchv2"]
	path = thirdparty/LongBenchv2
	url = https://github.com/THUDM/LongBench.git
	branch = main

[submodule "thirdparty/llmc"]
	path = thirdparty/llmc
	url = https://github.com/ModelTC/llmc.git
	branch = main

[submodule "thirdparty/vllm"]
	path = thirdparty/vllm
	url = https://github.com/vllm-project/vllm.git
	branch = main

# toolbench: https://github.com/open-compass/T-Eval.git
[submodule "thirdparty/toolbench"]
	path = thirdparty/toolbench
	url = https://github.com/open-compass/T-Eval.git
	branch = main

# qllm-eval: git@github.com:pprp/qllm-eval.git
[submodule "thirdparty/qllm-eval"]
	path = thirdparty/qllm-eval
	url = git@github.com:pprp/qllm-eval.git
	branch = main

# opencompass: https://github.com/open-compass/opencompass.git
[submodule "thirdparty/opencompass"]
	path = thirdparty/opencompass
	url = https://github.com/open-compass/opencompass.git
	branch = main

